@using System;
@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using FPSGame;
@using FPSGame.Jobs;

@namespace FPSGame.UI
@attribute [StyleSheet("/ui/PlayerJob.scss")]
@inherits Sandbox.UI.Panel




<root>


	<label @ref="PlyJob" class="job"></label>



</root>

@code {

	public Label PlyJob { get; set; }



	public override void Tick()
	{

		var player = Game.LocalPawn as FPSPlayer;
		if (player == null) return;
		var job = player.PlayerJob as Job;
		if(job is null)return;


		var inv = job.JobName;
		PlyJob.Text = $"Job: {inv}";
		


	}
}
